* {
  /* border: 1px solid; */
  /* background-color: black; */
  /* color: white; */
}

form div {
  text-align: left;
  padding: 10px;
}

.container {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.comments {
  padding: 20px;
}

.comment {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: left;
}

.comment ~ .comment {
  margin-top: 50px;
}

.comment__content {
  white-space: pre-line;
}

.comment__children {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 20px;
}

.comment__children ~ .comment__children {
  margin-top: 10px;
}

.original_poster {
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: darkslategrey; */
}