form div {
  text-align: left;
  padding: 10px;
}

/* .container {
  margin: auto;
  max-width: 800px;
  text-align: center;
} */


/* .comments {
  padding: 20px;
} */

.comment {
  border: 1px solid #111111;
  padding: 20px;
  text-align: left;
}

/* .comment ~ .comment {
  margin-top: 50px;
} */

/* .comment__content {
  white-space: pre-line;
} */

.comment__children {
  border: 1px solid #111111;
  text-align: left;
  padding: 20px;
  margin-top: 10px;
}

.comment-children ~ .comment-children {
  margin-top: 10px;
  background-color: #aaaaff;
}

.original_poster {
  background-color: #bbbbbb;
}